.wrapper{
  background: rgba(0,255,0,0.6);
}

body{
  /*background: black;*/
}

.logsright{
  margin-right: 35%;
float: right;
  width: 100px;
  height: 100px;
}

.logsleft{
  margin-left: 35%;
  float: left;
  width: 100px;
  height: 100px;
}